<app-header></app-header>
<div class="col-md-12">
  <div class="card-deck">
      <div class="card h-100" >
        <div class="card-body">
        <div class="card-title">
      <span (click)="openModalDetails(room)"></span>
      <span class="badge badge-primary">Capacité max:  Personnes</span>
        </div>
            <hr>
            <p>Equipements: <span class="badge badge-secondary"> ffff</span></p>
        </div>
        <div class="card-footer">
          <button class="btn btn-md btn-outline-primary">Réserver</button>
        </div>
      </div>
  </div>
</div>